.card{
    width: 505px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.cardtype{
    width: 100px;
    margin-left: 380px;
    margin-top: 20px;
}

.number{
    font-size: 70px; 
}

.info{
    font-size: 20px;
    margin-left: 35px;
    margin-top: 10px;
    text-align: left;
}

.bank{
    margin-left: 20px;
}
