.random{
    font-size: 25px;
    border: 2px solid black;
    height: 50px;
    width: 490px;
    text-align: center;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}