.blocks{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.block{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

