.drivercard{
    background-color: #455db3;
    height: 180px;
    width: 800px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.imgdriver{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-left: 250px;
}

.infodrivers{
    text-align: left;
    margin-left: 10px;
}

.name{
    font-size: 30px;
}

.ratingdriver{
    font-size: 38px;
}